APP_ENV=production
APP_PORT=3010
API_KEY=change-me-api-key

DB_HOST=postgres
DB_PORT=5432
DB_USER=paskihub
DB_PASS=change-me-db-password
DB_NAME=paskihub

GOMAIL_HOST=smtp.gmail.com
GOMAIL_PORT=587
GOMAIL_USERNAME=
GOMAIL_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=change-me-redis-password

# JWT_EXP_TIME in hours. example: 1
JWT_SECRET_KEY=change-me-jwt-secret
JWT_EXP_TIME=1
